<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="MSP\DevTools\Model\Config">
        <plugin name="Yireo_MspDevToolsFixes::disableWithAjax" type="Yireo\MspDevToolsFixes\Plugin\DisableWithAjax"/>
    </type>

    <type name="Magento\Framework\HTTP\PhpEnvironment\Response">
        <plugin name="mSPDevToolsResponse" type="Yireo\MspDevToolsFixes\Plugin\EnhancedResponsePlugin"/>
    </type>
</config>
